.messagepreview-child {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.robert-fox1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
}
.hey-lets-play {
  margin: 0;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  font-family: inherit;
  color: #5c5c5c;
  display: inline-block;
  width: 177px;
}
.robert-fox-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.messagepreview {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
}
.span {
  position: relative;
  font-size: 11px;
  color: #5c5c5c;
  display: inline-block;
  width: 38px;
  flex-shrink: 0;
}
.friend {
  position: absolute;
  top: 207px;
  left: 22px;
  border-radius: 14px;
  background-color: #fff;
  border: 2px solid #771f98;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 9px 13px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 46px;
}
.searchchathome-child {
  position: relative;
  border-radius: 14px;
  background-color: #f1f1f1;
  width: 290px;
  height: 39px;
  z-index: 0;
}
.searchchathome-item {
  position: relative;
  border-radius: 10px;
  background-color: #f1f1f1;
  width: 43px;
  height: 39px;
  z-index: 1;
}
.search-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconlylight-outlinesearch {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  height: 61.54%;
  width: 6.96%;
  top: 17.95%;
  right: 88.99%;
  bottom: 20.51%;
  left: 4.06%;
  z-index: 2;
}
.search-chat {
  border: none;
  font-family: Poppins;
  font-size: 20px;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  top: 4px;
  left: 49px;
  color: #252525;
  text-align: left;
  display: inline-block;
  width: 142px;
  flex-shrink: 0;
  z-index: 3;
}
.iconlylight-outlinescan {
  position: absolute;
  margin: 0 !important;
  height: 50.55%;
  width: 6.96%;
  top: 23.08%;
  right: 2.61%;
  bottom: 26.37%;
  left: 90.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 4;
}
.searchchathome {
  position: absolute;
  top: 79px;
  left: 22px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.footerchathome-child {
  position: relative;
  border-radius: 18px;
  background-color: #f8f8f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1) inset;
  width: 393px;
  height: 130px;
  z-index: 0;
}
.home-indicator2 {
  position: absolute;
  bottom: 8px;
  left: calc(50% - 67px);
  border-radius: 100px;
  background-color: #000;
  width: 134px;
  height: 5px;
}
.homeindicator1 {
  position: absolute;
  margin: 0 !important;
  top: 67px;
  left: 3px;
  width: 390px;
  height: 31px;
  z-index: 1;
}
.iconlylight-outlinehome {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  height: 23.08%;
  width: 7.63%;
  top: 20.77%;
  right: 75.83%;
  bottom: 56.15%;
  left: 16.54%;
  z-index: 2;
}
.iconlylight-outlinesetting {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  height: 23.08%;
  width: 7.63%;
  top: 22.31%;
  right: 16.03%;
  bottom: 54.62%;
  left: 76.34%;
  z-index: 3;
}
.iconlylight-outlineadd-user {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  height: 23.08%;
  width: 7.63%;
  top: 23.08%;
  right: 45.8%;
  bottom: 53.85%;
  left: 46.56%;
  z-index: 4;
}
.footerchathome {
  position: absolute;
  top: 754px;
  left: -3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.chathome {
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  width: 393px;
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #181818;
  font-family: Poppins;
}
